* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* background: lightblue; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card {
    min-height: 90vh;
    width: 35rem;
    border-radius: 30px;
    padding: 0 5rem;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
}

.sneaker {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.sneaker img {
    position: relative;
    left: 2.5rem;
    bottom: 1rem;
    width: 5.7rem;
    z-index: 2;
}

.circle {
    width: 11rem;
    height: 11rem;
    background: linear-gradient(
        to right,
        rgba(245,70,66,0.75),
        rgba(8,83,156,0.75)
    ); 
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h1 {
    font-size: 2rem;
}

.info h3 {
    font-size: .8rem;
    padding: .5rem 0;
    color: #5a5a5a;
    font-weight: lighter;
}

.sizes {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.sizes a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 13px;
    white-space: nowrap;
    padding: 0.5rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
}

a.active {
    background: #585858;
    color: white;
}

.purchase {
    margin-top: 5rem;
}

.purchase button {
    width: 100%;
    padding: 1rem 0rem;
    background: #f54642;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:768px){
    .sizes a{
        margin-bottom: 1rem;
    }
    
    .sizes {
        flex-flow: column;
    }

    .card {
        min-height: 80vh;
        width: 35rem;
        border-radius: 30px;
    }

    .circle {
        width: 9rem;
        height: 9rem;;
    }

    .sneaker img {
        width: 5rem;
        position: relative;
        left: 2rem;
        bottom: 1rem;
    }
    
    
}
